/* Your Website Styles */


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}
body{
	background: gray;
}
article{
	text-align: right;

}
h1{
	font-size: 60px;
}
h4{
	margin-left: 20px;
}
.container{
	background: white;
}
section {
	padding:20px 0px 10px 30px;
	border-left: 1px dashed black;
	margin-top: 10px;
}
.ed, .object, .employ {
	border-bottom: 1px dashed black;
}
